/**
    Calendar container
*/
.calendar-week-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/**
  Calendar header
*/
.calendar-header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  z-index: 3;
}

.calendar-header .border-cell {
  border-bottom: gray 1px solid;
}

.timezone-cell {
  font-size: 11px;
  padding: 0;
  padding-top: 35px;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
}

.header-offset {
  padding: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
}

.calendar-header .day-number {
  line-height: 47px;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
}

.calendar-header .day-name {
  font-size: 11px;
}

.calendar-header .today {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  text-align: center;
  text-indent: -2.5px;
  background-color: cadetblue;
  color: white;
}

/**
  Calendar body
*/
.calendar-body {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hours-col {
  font-size: 10px;
}

.hour-cell {
  padding: 0;
  height: 45px;
}

.hour-cell span {
  position: relative;
  top: -8px;
}

.calendar-body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.calendar-body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
}

.calendar-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.calendar-body .body-main-col {
  padding: 0;
}

.cell-rows {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  padding-left: 30px;
}

.hour-row {
  height: 45px;
  content: none;
}

.hour-row::after {
  position: absolute;
  content: "";
  border-bottom: gray 1px solid;
  width: 100%;
  margin-top: -1px;
  pointer-events: none;
}

.day-col {
  position: relative;
  border-left: grey 1px solid;
}

.time-marker-wrapper {
  position: absolute;
  z-index: 200;
  width: 100%;
}

.time-marker {
  position: absolute;
  z-index: 200;
  border-top: #ff8686 solid 2px;
  left: 0;
  right: 0;
  pointer-events: none;
}

.time-marker-tip {
  background: #ff8686;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  position: absolute;
  height: 12px;
  margin-left: -6.5px;
  margin-top: -5px;
  width: 12px;
  z-index: 200;
}

/**
 Calendar Event
*/
.calendar-event {
  border-radius: 4px;
  background-color: cadetblue;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.calendar-event-edit {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  z-index: 1024;
  border: 1px solid white;
}

.event-overlap {
  border: 1px solid white;
  border-radius: 4px;
}

.description-event {
  font-size: 11px;
  color: #002740;
}

/**
 Event Popover
*/
.popover {
  max-width: 500px;
}

.popover span.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

/**
 Calendar Modal
*/
.clean-input {
  cursor: pointer;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font: inherit;
}
